In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('insurance_pre.csv')
dataset = pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [3]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [4]:
input_var=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [5]:
output_var=dataset['charges']

In [6]:
input_var

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [7]:
output_var

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [8]:
#split into training set and test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(input_var,output_var,test_size=1/3, random_state=0)

In [9]:
x_train

      age    bmi  children  sex_male  smoker_yes
482    18  31.35         0         0           0
338    50  32.30         1         1           1
356    46  43.89         3         1           0
869    25  24.30         3         0           0
182    22  19.95         3         1           0
...   ...    ...       ...       ...         ...
763    27  26.03         0         1           0
835    42  35.97         2         1           0
1216   40  25.08         0         1           0
559    19  35.53         0         1           0
684    33  18.50         1         0           0

[892 rows x 5 columns]

In [10]:
x_test

      age     bmi  children  sex_male  smoker_yes
578    52  30.200         1         1           0
610    47  29.370         1         0           0
569    48  40.565         2         1           1
1034   61  38.380         0         1           0
198    51  18.050         0         0           0
...   ...     ...       ...       ...         ...
261    20  26.840         1         0           1
1271   25  34.485         0         0           0
1313   19  34.700         2         0           1
2      28  33.000         3         1           0
405    52  38.380         2         0           0

[446 rows x 5 columns]

In [11]:
y_train

482      1622.1885
338     41919.0970
356      8944.1151
869      4391.6520
182      4005.4225
           ...
763      3070.8087
835      7160.3303
1216     5415.6612
559      1646.4297
684      4766.0220
Name: charges, Length: 892, dtype: float64

In [12]:
y_test

578      9724.53000
610      8547.69130
569     45702.02235
1034    12950.07120
198      9644.25250
           ...
261     17085.26760
1271     3021.80915
1313    36397.57600
2        4449.46200
405     11396.90020
Name: charges, Length: 446, dtype: float64

In [13]:
#The difference in how data is handled and how the model is initialized between LightGBM and XGBoost arises 
#from the design and flexibility of each library.

#LightGBM
#Data Conversion: LightGBM requires data to be in a specific format (lgb.Dataset) for its training function (lgb.train). 
#This conversion is necessary to optimize memory usage and training speed, as LightGBM uses a histogram-based approach.
#Parameter Setting: Parameters in LightGBM need to be explicitly set before training because 
#LightGBM has a more complex set of hyperparameters that control various aspects of the boosting process.
#Other Models
#No Explicit Data Conversion: Previous models can handle data directly in NumPy array, pandas DataFrame, or other common formats. 
#It does not require a special dataset format for basic usage, making it simpler to use in many scenarios.
#Fit Method: XGBoost provides a fit method in the XGBRegressor class that handles both training and evaluation internally, 
#making it similar to scikit-learn's API. This simplifies the process for standard regression tasks.

#Step for LightGBM
#Data Preparation - Convert data to lgb.Dataset format
#Parameter Setting - Explicitly set parameters in a dictionary
#Training - Use lgb.train function with datasets and parameters

In [14]:
#!pip install lightgbm

In [16]:

import lightgbm as lgbm
regresser=lgbm.LGBMRegressor()
regresser=regresser.fit(x_train,y_train)
Y_pred=regresser.predict(x_test)

TypeError: cpu_count() got an unexpected keyword argument 'only_physical_cores'